streamlit==0.85.1
stqdm==0.0.4
spacy-streamlit==1.0.1
transformers==4.6.0
spacy>=3.0.0,<4.0.0
click==7.1.1
protobuf==3.19.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
